@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  background-color: rgb(37, 38, 39);
  padding: 0 2rem;
}
img {
  max-width: 100%;
  display: block;
}
.card {
  margin-top: 20px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.75rem;
}
.card-form {
  padding: 2rem 1rem 0;
}
.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 3rem;
}
.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}
.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #6658d3;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.action {
  margin-top: 2rem;
}
.delete_button {
  color: white;
  background-color: black;
  border-radius: 50%;
}
.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: 0;
}
.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}
.top {
  background-color: rgb(89, 92, 95);
  font-size: xx-large;
  height: auto;
  justify-content: left;
  box-shadow: 0 5px 5px black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}
.table-header {
  display: flex;
  width: 100%;
  background: #000;
}
.table-row {
  display: flex;
  width: 100%;
}
.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}
.header__item {
  text-transform: uppercase;
}
.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
