@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

*,
*:after,
*:before {
  box-sizing: border-box;
}

.title{
  background: linear-gradient(0deg, rgba(25,29,50,1) 0%, rgba(102,88,211,1) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  height: 50px;
  margin-top: 0px;
}

body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  background-color: rgb(240, 248, 255);
  padding: 0 2rem;
  text-align: center;
  color: white;
}
img {
  max-width: 100%;
  display: block;
}
.card {
  margin-top: 20px;
  margin-left: 0;
  display: flex;
  border-width: thin;
  border-color: #191d32;
  border-style: solid;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.75rem;
}
.card-form {
  padding: 2rem 1rem 0;
}
.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 3rem;
}
.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}
.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #6658d3;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.action {
  margin-top: 2rem;
}
.atras {
  margin-top: 1rem;
  width: 100px;
  height: 50px;
  float: right;
}
.delete_button {
  color: white;
  background-color: black;
  border-radius: 50%;
}
.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: 0;
}
.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}
.top {
  background-color: #6658d3;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: xx-large;
  box-shadow: 0 5px 5px rgb(253, 236, 236);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}
.container2 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}
.edit_card{
  margin-top: 20px;
  margin-left: 0;
  display: flex;
  border-width: thin;
  border-color: #191d32;
  border-style: solid;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.75rem;
  display: none;
}
.table-header {
  display: flex;
  width: 100%;
  border-radius: 10px;
  background: #191d32;
}

img.edit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  width: 25%;
  height: auto;
}

.table-row {
  display: flex;
  width: 100%;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  color: black;
  text-align: center;
}
.header__item {
  text-transform: uppercase;
}
.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
