<%- include('partials/_header'); %>
<div class = "consulta">
    <h1 class="title">Cantidad de hijos</h1>
    <div class="card">
        <div class="table">
            <div class="table-header">
                <div class="header__item"><a id="ID" class="filter__link" href="#">ID</a></div>
                <div class="header__item"><a id="nom" class="filter__link filter__link--number" href="#">Nombre</a></div>
                <div class="header__item"><a id="QY" class="filter__link filter__link--number" href="#">Cantidad</a></div>
            </div>
            <div class="table-content">	
                <% if(data){%>
                    <%for (var i=0;i<data.length;i++){ %>
                        <div class="table-row">		
                            <div class="table-data"><%= data[i].id %></div>
                            <div class="table-data"><%= data[i].nom %></div>
                            <div class="table-data"><%= data[i].Cantidad_Hijos %></div>
                        </div>
                    <%} %>
                <%} %>
            </div>	
        </div>
    </div>
</div>
<% include('partials/_footer') -%>