<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>

    .top {
        background-color:rgba(89, 92, 95) ;
        font-size: xx-large;
        height:auto;
        justify-content: left;
        box-shadow: 0px 5px 5px black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
    }
    </style>
</head>
<body>
    <div class = "top">CRUD HIJO</div>
    <div class="container">
        <!-- code here -->
        <div class="card">
            <form class="card-form">
                <div class="input">
                    <input type="text" class="input-field" value="12345" required/>
                    <label class="input-label">ID*</label>
                </div>
                    <div class="input">
                    <input type="text" class="input-field" value="juan" required/>
                    <label class="input-label">Nombre*</label>
                </div>
                    <div class="input">
                    <input type="text" class="input-field" required/>
                    <label class="input-label">Hijo de</label>
                </div>
                <div class="action">
                    <button class="action-button">Crear</button>
                </div>
            </form>
            <div class="card-info">
                <p>Los campos con * son obligatorios para llenar</p>
            </div>
        </div>
    </div>
    
</body>
</html>