<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class = "top">CRUD HIJO</div>
    <div class="container">
        <!-- code here -->
        <div class="card">
            <form class="card-form">
                <div class="input">
                    <input type="text" class="input-field" value="" required/>
                    <label class="input-label">ID*</label>
                </div>
                    <div class="input">
                    <input type="text" class="input-field" value="" required/>
                    <label class="input-label">Nombre*</label>
                </div>
                    <div class="input">
                    <input type="text" class="input-field" required/>
                    <label class="input-label">Hijo de</label>
                </div>
                <div class="action">
                    <button class="action-button">Crear</button>
                </div>
            </form>
            <div class="card-info">
                <p>Los campos con * son obligatorios para llenar</p>
            </div>
        </div>
        <div class="card">
            <div class="table">
                <div class="table-header">
                    <div class="header__item"><a id="ID" class="filter__link" href="#">ID</a></div>
                    <div class="header__item"><a id="nom" class="filter__link filter__link--number" href="#">Nombre</a></div>
                    <div class="header__item"><a id="hijode" class="filter__link filter__link--number" href="#">Hijo de</a></div>
                    <div class="header__item"><a id="delete" class="filter__link filter__link--number" href="#">Borrar</a></div>
                </div>
                <div class="table-content">	
                    <div class="table-row">		
                        <div class="table-data">Tom</div>
                        <div class="table-data">2</div>
                        <div class="table-data">0</div>
                        <div class="table-data"><button class = "delete_button">x</button></div>
                    </div>
                    <div class="table-row">
                        <div class="table-data">Dick</div>
                        <div class="table-data">1</div>
                        <div class="table-data">1</div>
                        <div class="table-data"><button class = "delete_button">x</button></div>
                    </div>
                    <div class="table-row">
                        <div class="table-data">Harry</div>
                        <div class="table-data">0</div>
                        <div class="table-data">2</div>
                        <div class="table-data"><button class = "delete_button">x</button></div>
                    </div>
                </div>	
            </div>
        </div>
        <table id="tableData" class="table table-fixed">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody class="tbody" >
            </tbody>
    </div>
    <script>
        $(document).ready(() => {

$.ajax({
    url: "http://localhost:9000/list", 
    method: 'GET',
    success: function(response){
        if(response.rows.length > 0){
            for(let index = 0; index < response.rows.length; index++) {
                var newRow = $("<tr>");
                var cols = "";
                var firstname = '';
                var lastname = '';
                var gender = '';
                cols += '<td> '+ response.rows[index].firstname +'</td>';
                cols += '<td> '+ response.rows[index].lastname +'</td>';
                cols += '<td> '+ response.rows[index].gender+'</td>';                
                newRow.append(cols);
                $("#tableData .tbody").append(newRow);
            }  

        }
    }
})
})
    </script>
    
</body>
</html>